
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Anime</title>
</head>
<body>
    <h3>List of all Animes</h3>
    <a asp-controller="anime" asp-action="add">Add new Anime entry</a>
    <table border="1" cellpadding="2" cellspacing="2">
        <tr>
            <th>Anime ID</th>
            <th>Anime name</th>
            <th>Anime description</th>
            <th>Anime release date</th>
        </tr>
        @foreach(var anime in ViewBag.Anime)
        {
            <tr>
                <td>@anime.anime_id</td>
                <td>@anime.animename</td>
                <td>@anime.description</td>
                <td>@anime.release_date</td>
                <td>
                    <a asp-controller="anime"
                       asp-action="edit"
                       asp-route-id="@anime.anime_id">
                        Edit
                    </a>
                        ||
                    <a asp-controller="anime"
                       asp-action="delete"
                       asp-route-id="@anime.anime_id"
                       onclick="return confirm('Are you sure?')">
                        Delete
                    </a>
                </td>
            </tr>
        }
    </table>
</body>
</html>
