@model AnimeTracker.Models.Anime

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Anime</title>
</head>
<body>
    <div class="container">
        @{
            var data = ViewData.Model;
        }
        <h2><b>@data.animename</b></h2>

        <h4><b>Description</b></h4>
        <p>@data.description</p>
        <br />
        <h4><b>Total of Episodes</b></h4>
        <p>@data.episodes</p>
        <br />
        <h4><b>Genre</b></h4>
        <p>@data.genre</p>
        <br />
        <h4><b>Studio</b></h4>
        <p>@data.studio</p>
        <br />
        <h4><b>Source</b></h4>
        <p>@data.anime_source</p>
        <br />
        <h4><b>Rating PG</b></h4>
        <p>@data.rating_pg</p>
        <br />
        <h4><b>Anime Release Date</b></h4>
        <p>@data.release_date</p>
    </div>
</body>
</html>


